@import "tailwindcss";

/* Fundo padrão do site para o computador não ficar com bordas brancas */
body {
  margin: 0;
  background-color: #FAFAFA;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}